node_modules
dist
.DS_Store
.vscode
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store
coverage

# Husky hooks
.husky/_

# Turbo
.turbo

# Build outputs
.next
